* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    letter-spacing: 2px;
    background-color: #EA9010;
}

.form {
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 13px 1px rgba(38,38,38,0.66); 
    box-shadow: 5px 5px 13px 1px rgba(38,38,38,0.66);

    position: absolute;
    padding: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 15%);
}

.form__data {
    margin-bottom: 20px;
}

.form__input {
    color: #FFFAFA;
    background-color: #136F63;
    font-size: large;
    display: block;
    width: 450px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 6px 1px rgba(38,38,38,0.66);
}

.button {
    text-align: center;
}

.form__button {
    cursor: pointer;
    padding: 10px;
    width: 25%;
    border-radius: 3px;
    letter-spacing: 1.5px;
    background-color: #EA9010;
    color: #333;
    letter-spacing: 5px;
    border-style: none;
    box-shadow: 2px 2px 6px 1px rgba(38,38,38,0.66);
}

.form ul {
    list-style-type: none;
    margin-top: 5px;
}

.form li {
    color: darkred;
    font-style: italic;
    font-size: medium;
    animation: moveInErrorMessageFromTop .5s ease-out;
}

@keyframes moveInErrorMessageFromTop {
    /* start */
    0% {
      opacity: 0; /* the element is invisible */
      transform: translateY(-.6rem); /* moves down across the y-axis */
    }
    /* finish */
    100% {
    opacity: 1;
    transform: translate(0); /* the way it looks right now */
    }
}
